<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="trello">  
  <test>  
    <classes>  
      <class name="TrelloLogin"/>  
      <class name="TrelloSignUp"/>  
    </classes>  
  </test> <!-- Test -->  
</suite> <!-- Suite -->  